<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CSE135_ShoppingApp</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>ucsd.shoppingApp.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RegistrationController</servlet-name>
  	<servlet-class>ucsd.shoppingApp.controllers.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationController</servlet-name>
  	<url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<servlet-class>ucsd.shoppingApp.controllers.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CategoryController</servlet-name>
  	<servlet-class>ucsd.shoppingApp.controllers.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CategoryController</servlet-name>
  	<url-pattern>/CategoryController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShoppingCartController</servlet-name>
  	<servlet-class>ucsd.shoppingApp.controllers.ShoppingCartController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShoppingCartController</servlet-name>
  	<url-pattern>/ShoppingCartController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BuyController</servlet-name>
  	<servlet-class>ucsd.shoppingApp.controllers.BuyController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BuyController</servlet-name>
  	<url-pattern>/BuyController</url-pattern>
  </servlet-mapping>
  
	<resource-ref>
	    <description>DB Connection</description>
	    <res-ref-name>jdbc/shoppingAppDB</res-ref-name>
	    <res-type>javax.sql.DataSource</res-type>
	    <res-auth>Container</res-auth>
	</resource-ref>
</web-app>